.bg-dark {
    padding: 0;
    padding-top: 5px;
}

.nav-link {
    color: #ebe9e3;
}

nav img {
    margin-right: 20px;
}

 .navbar-brand  {
    font-weight: bold;
    color: white!important ;
    margin-left: 15px;
}

a:hover {
    color: #ada293;
}

nav p {
    color: #ebe9e3;
    font-weight: 500;
    margin-bottom: -38px;
    font-size: 30px;
    position: relative;
        left: 80px;
        bottom: 40px;
}

nav li{
    padding: 0px 34px;
    font-weight: bold;
    border-left-style: solid;
       color: #6f6a67;
}

#home {
    background: url(kotek.jpg) no-repeat center center;
    height: 680px;
    width: 100%;
    background-size: cover;
}

#o_nas {
    padding: 0px;
    background-color: white;
}

h1{
    padding: 15px 0px 15px 0px;
    background-color: #343a40;
    color: white;
    margin-bottom: 0px;
}

#o_nas p {
    text-align: justify;
    margin-bottom: 20px;
}

.text {
    margin: 40px 50px;
}

#galeria {
    width: 85%;
    padding: 0;
}

.carousel-inner {
    border: solid 35px #343a40;
    border-bottom: none;
    border-top: none;
}

.carousel-indicators li {
    padding: 0px 15px; 
}

#mioty {
    padding: 0;
    background: white;
}

h2 {
    text-align: left;
    font-weight: bold;
    margin: 20px 0px 20px 5%;
}

h3 {
    margin: 20px 0px 20px 0px;
    color: white;
}

#mioty img {
    margin: 1% 1%;
    border-radius: 3px;
    width: 45%;
}

#zdj {
    background: #343a40;
    margin: 0% 5%;
    padding: 10px 0px 15px 0px;
    border-radius: 3px;
}

.row {
    margin: 0;
}

#zakup ul {
    text-decoration: none;
}

#zakup ol {
    margin: 0% 2%;
}

#zakup {
    padding: 0;  
}

footer {
    background: #343a40; 
    color: white;
    padding-bottom: 1px;
    padding-top: 8px;
}

@media all and (max-width: 991px) {
    
    nav ul {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 95%;
    }

    nav li {
        padding: 0px 5px;
        border-left: none;
        border-right: none;
        border-bottom: solid #6f6a67;
        width: 100%;
    }
    
    .navbar-brand {
        margin: auto;
        position: relative;
        right: 5%;
    }
    
    .navbar-brand img {
        width: 100px;
        height: 65px;
    }
    
    nav p {
        position: relative;
        left: 110px;
    }
}

@media (max-width: 800px) {
    
    .carousel-inner {
      border: none;
    }
    
    #galeria {
        width: 100%;
    }
    
    h1 {
        font-size: 26px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    #home {
        background: url(kotek800.jpg)  no-repeat center center;
    }
    
    #zdj {
        margin: 0px;
    }
    #marg {
        padding: 0;
    }
    
    #mioty {
        margin-bottom: 1px;
    }
    
    .navbar-brand {
        margin: auto; 
    }
    
    nav li {
        border-right: solid #6f6a67;
        border-right: none;
        padding: 0px 30px;
    }
    
    nav ul {
        margin: 0 auto;
    }
    
    .text {
        margin: 5% 2% 5%;
    }
    
    .carousel-indicators li {
        padding: 0px 20px;
    }
    
    button {
        margin-right: 15px;
    }
}

@media (max-width:500px) {
    #home {
        background: url(kotek500.jpg)  no-repeat center center;
    }
    
    .carousel-item img {
        height: 250px;
    }
    
    #zakup ol{
        margin-left: -15px;
        margin-right: -8px;
    }
    
    .navbar-brand {
       margin-left: 0;
        padding-right: 10%;
        margin-left: 25px;
    }
   
    nav li {
        padding: 0px 5px;
        border-left: none;
        border-right: none;
        border-bottom: solid #6f6a67;
        width: 100%;
    }
        
    #mioty img{
        width: 80%;
        padding-bottom: 10px;
    }
    
    #mioty {
        margin-bottom: 1px;
    }
    
    .text{
        margin: 10% 5% 5%;
    }
    
    nav ul {
        display: block;
        text-align: center;
        margin-right: 5%;
        width: 90%;
    }
    
    .carousel-indicators li {
    padding: 0px 15px;
    }
}

@media (max-width:400px) {
    .navbar-brand a {
     margin: 0px ;
    }
        
    .navbar-brand p {
        position: relative;
        left: 90px;
        bottom: 30px;
        font-size: 1.2em;
    }
        
    .navbar-brand img {
        width: 80px;
        height: 55px;
    }
        
    .navbar-brand{
        padding-bottom: 15px;
    }
        
    .carousel-indicators li {
        padding: 0px 10px;
    }
}